<?php
	$custom_url = $_GET['u'];
	$profile = Mage::getModel('customerprofile/profile')->load($custom_url, 'custom_url');
	$customer_id = $profile->getCustomerId();
	$_customer = Mage::getModel('customer/customer')->load($customer_id);
  $_helper = Mage::helper('customerprofile');
  $width = $_helper->getThumbW();
  $height = $_helper->getThumbH();
?>
<div class="row">
	<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
	<?php if($profile->getStatus()): ?>
		<div class="page-title ">
			<h1><?php echo $this->__('Customer Profile') ?></h1>
		</div>
		<div>
			<?php
				$profileImage = $profile->getProfileImg();
				if(!$profileImage)
				{
          $text = $profile->getCustomUrl();
					$profileImage = "https://dummyimage.com/".$width."X".$height."/d6006e/ffffff.png&text=$text (Apostrophe-S)";
				}
			?>
			<ul>
        <li style="float: left;"><img src="<?php echo $profileImage; ?>" width="<?php echo $width ?>" height="<?php echo $height ?>"/></li>
				<li style="float: left; padding: 10px">
					<h1 style="text-transform: uppercase; font-size: 2rem;" >
						<?php echo $profile->getCustomUrl(); ?>
					</h1>
				</li>
			</ul>
		</div>
    <div style="clear: both; padding: 5px 0;"><hr></div>

	<?php else: ?> <!-- if profile is disabled -->
		<div class="page-title ">
			<h1><?php echo $this->__('Error 404') ?></h1>
		</div>
	<?php endif; ?>
</div>
