<?php
	$clientId = Mage::getSingleton('customer/session')->getCustomer()->getId();
	$cProfile = Mage::getModel('customerprofile/profile')->load($clientId, 'customer_id');
  $_helper = Mage::helper('customerprofile');
  $width = $_helper->getThumbW();
  $height = $_helper->getThumbH();
?>
<script type="text/javascript" charset="utf-8">
	function nospaces(t){
	  if(t.value.match(/[^a-zA-Z0-9]/g)){
		t.value=t.value.replace(/[^a-zA-Z0-9]/g,'');
	  }
	}
</script>


<div class="dashboard">
	<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>
	<div class="page-title">
		<h1><?php echo $this->__('Customer Profile') ?></h1>
	</div>

	<form action="<?php echo $this->getUrl('customerprofile/settings/save') ?>" method="post" enctype="multipart/form-data" id="form-validate" autocomplete="off">
		<div class="fieldset">
			<ul class="form-list">
				<li>
					<label for="custom_url" class="required"><em>*</em><?php echo $this->__('Custom URL') ?></label>
					<div class="input-box">
						<input onkeyup="nospaces(this)" value="<?php echo $cProfile->getCustomUrl(); ?>" type="text" title="<?php echo $this->__('Custom Url') ?>" class="input-text required-entry" name="custom_url" id="custom_url" required/>
						<p style="font-size: 10px;" ><?php echo $this->__('Your Profile URL will be '); echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB); echo "customerprofile/"; if($cProfile->getCustomUrl()) { echo $cProfile->getCustomUrl(); } else { echo $this->__('custom_url'); } ?>.html</p>
					</div>
				</li>
				<li>
          <div class="input-box">
            <label for="profile_img" class="">
              <?php 
                echo $this->__('Provide a Profile Photo ('.$width.'x'.$height.')');
              ?>
            </label>

            <div id="crop-avatar">
              <p>
                Current profile photo: 
                <span class="avatar-view" title="Change Profile Picture">
                  <?php if($cProfile->getProfileImg()) { ?>
                    <img src="<?php echo $cProfile->getProfileImg() ?>" style="width: 60px; height: 60px;" id="image" >
                    </div>
                  <?php } else { ?>
                    <img src="https://dummyimage.com/60X60/000000/d6006e.png&text=Apostrophe-S" /> 
                  <?php } ?>
                </span>
              </p>  


              <!-- Cropping modal -->
              <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <form class="avatar-form" action="crop.php" enctype="multipart/form-data" method="post">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="avatar-modal-label">Change Profile Picture</h4>
                      </div>

                      <div class="modal-body">
                        <div class="avatar-body">

                          <!-- Upload image and data -->
                          <div class="avatar-upload">
                            <input type="hidden" class="avatar-src" name="avatar_src">
                            <input type="hidden" class="avatar-data" name="avatar_data">
                            <label for="avatarInput">Local upload</label>
                            <input type="file" class="avatar-input" id="avatarInput" name="avatar_file">
                          </div>

                          <!-- Crop and preview -->
                          <div class="row">
                            <div class="col-md-9">
                              <div class="avatar-wrapper"></div>
                            </div>
                            <div class="col-md-3">
                              <div class="avatar-preview preview-lg"></div>
                              <div class="avatar-preview preview-md"></div>
                              <div class="avatar-preview preview-sm"></div>
                            </div>
                          </div>

                          <div class="row avatar-btns">
                            <div class="col-md-9">
                              <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-method="rotate" data-option="-90" title="Rotate -90 degrees">Rotate Left</button>
                                <button type="button" class="btn btn-primary" data-method="rotate" data-option="-15">-15deg</button>
                                <button type="button" class="btn btn-primary" data-method="rotate" data-option="-30">-30deg</button>
                                <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45">-45deg</button>
                              </div>

                              <div class="btn-group">
                                <button type="button" class="btn btn-primary" data-method="rotate" data-option="90" title="Rotate 90 degrees">Rotate Right</button>
                                <button type="button" class="btn btn-primary" data-method="rotate" data-option="15">15deg</button>
                                <button type="button" class="btn btn-primary" data-method="rotate" data-option="30">30deg</button>
                                <button type="button" class="btn btn-primary" data-method="rotate" data-option="45">45deg</button>
                              </div>
                            </div>

                            <div class="col-md-3">
                              <button type="submit" class="btn btn-primary btn-block avatar-save">Done</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div> -->
                    </form>
                  </div>
                </div>
              </div><!-- /.modal -->

              <!-- Loading state -->
              <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
            </div>


              <!--<p>You can upload a custom photo here.</p>
              <input type="file" name="photo_upload" id="photo" class="file_input">
              <div id="loading_progress"></div>
              <input type="submit" value="Upload photo" value="Upload" id="upload_btn" class="btn btn-default" onclick="cropperModal(); return false;">-->
          </div>

          <div class="input-box" style="padding-top: 25px; font-size: 75%;">
            <p>Or, you can provide a URL to an existing image.</p>

            <input value="<?php echo $cProfile->getProfileImg(); ?>" type="text" title="<?php echo $this->__('Profile Image URL') ?>" class="input-text required-entry" name="profile_img" id="profile_img" />
            <p style="font-size: 10px;" ><?php echo $this->__('Try'); ?><a href="http://imgur.com" target="blank"> imgur.com </a><?php echo $this->__('to host your Image.'); ?></p>
					</div>
				</li>
				<li>
					<div class="input-box">
						<input <?php if($cProfile->getStatus() == 1) echo "checked"; ?> type="checkbox" title="<?php echo $this->__('Enable Public Profile?') ?>" class="checkbox" name="status" id="status" />
					</div>
					<label for="status" class="required"><?php echo $this->__('Enable Public Profile?') ?></label>
				</li>				
			</ul>
			<?php if($cProfile->getCustomUrl())
			{
				echo '<hr>';
				echo $this->__('Your Profile URL Is');
				$customUrl = Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_WEB) . "customerprofile/" . $cProfile->getCustomUrl() . ".html";
				echo ' <a href="' . $customUrl . '" target="blank">' . $customUrl . '</a>';
			}
			?>
		</div>
		<div class="buttons-set">
			<p class="required"><?php echo $this->__('* Required Fields') ?></p>
			<p class="back-link">
				<a href="<?php echo $this->getBackUrl() ?>">
					<small>&laquo; </small>  <?php echo $this->__('Back') ?>
				</a>
			</p>
			<button type="submit" title="<?php echo $this->__('Save') ?>" value="Save" class="button">
				<span>
					<span>
						<?php echo $this->__('Save') ?>
					</span>
				</span>
			</button>
		</div>
	</form>
</div>

